########################################################################################################################
##
##   $ cp .secret.example .secret
##   $ vim .secret
##   $ source .secret
##
########################################################################################################################

##
## Production only secrets
##

export TRACEVIEW=
export RABBITMQ_USER=
export RABBITMQ_PASS=
export POSTFIX_USER=
export POSTFIX_PASS=
