########################################################################################################################
##
##   $ cp .secret.example .secret
##   $ vim .secret
##   $ source .secret
##
########################################################################################################################

##
## Production only secrets
##

export TRACEVIEW=
export RABBITMQ_USER=
export RABBITMQ_PASS=

##
## Rancher specific secrets
##

export RANCHER_URL=
export RANCHER_SECRET_KEY=
export RANCHER_ACCESS_KEY=
